app-root {
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 300px;
  grid-template-areas: "canvas stats" "canvas shop";
  padding: 20px;
  background-color: #393939;
  height: 100%;
}



